<div class="container mt-3 mb-3">
    <div class="row">
        <ng-container *ngIf="userDiscounts.length > 0">
            <div class="col-6 mt-3" *ngFor="let discount of userDiscounts">
                <div class="card w-100">
                    <img [src]="discount.imagePath" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <a class="btn btn-warning">Детальніше</a>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="userDiscounts.length === 0">
            <div class="card text-center">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1 class="text-center">Discounts not added yet</h1>
                </div>
                <div class="card-footer text-muted"></div>
              </div>
        </ng-container>
    </div>
</div>